.u-section-1 .u-sheet-1 {
  min-height: 539px;
}

.u-section-1 .u-text-1 {
  margin: 60px 82px 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 35px 82px 0;
}

.u-section-1 .u-text-3 {
  margin: 26px 82px 0;
}

.u-section-1 .u-text-4 {
  margin: 26px 82px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 88px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 62px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 60px;
  }
}