.u-section-1 .u-sheet-1 {
  min-height: 814px;
}

.u-section-1 .u-text-1 {
  margin: 88px 82px 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 35px 82px 0;
}

.u-section-1 .u-form-1 {
  height: 406px;
  width: 570px;
  margin: 64px auto 60px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 911px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 62px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 60px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}